@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
}


/* MOBILE */
@media (max-width: 430px) {
  
  header {
    height: 80px;
    width: 102%;
    background-color:#fffafa;
    margin-top: 10px; 
    margin-left: 16px;
  }
  
  #logo img {
    width: 167px;
    height: 80px;
    
  }

  #check {
    display: none;
  }
  
  label {
    font-size: 1.5em;
    position: fixed;
    top: 10px;
    padding: 10px;
    right: 50px;
    color: rgba(0, 0, 0, 0.5);
  }
  
  nav ul {
    list-style: none;
    background-color: #DCDCDC;
    height: 45vh;
    position: fixed;
    right: -100%;
    width: 100%;      
    transition: all 0.6s;
  }


  #check:checked ~ ul {
    right: 0;
  }

  nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9; 
  }
  
  nav ul li a {
    text-decoration: none;
    font-family: 'Open Sans';
    color: rgb(218, 17, 17);
  }
     
  
}

/* DESKTOP */
@media (min-width: 1280px) {

  header {
    height: 80px;
    width: 102%;
  
    background-color:#fcfafa;
    position: fixed;
  }
  
  #logo img {
    width: 180px;
    height: 55px;
    margin-top: 15px;
    margin-left: 61px;
    margin-bottom: 15px;
  }

     
 #check{
  display: none;
 }

label {
    display: none;
  }

 nav ul {
    list-style: none;
    width: 100%;    
    height: 100vh;
    top: 380px;
    margin-top: -75px;
    margin-left: 660px; 
    display: flex;
    flex-direction: block;
   justify-content: flex-start;
   align-items: flex-start;
   
  }

  nav ul li {
    padding: 20px;
    border-bottom: 2px solid #f8dddd; 
    float: right; 
    border: 0;
       
  }
  
  nav ul li a .home {
    color: #f80606;
    text-decoration: none;
    font-family: 'Open Sans';
    margin-right: 70px;
    
  }

  nav ul li a {
    text-decoration: none;
    font-family: 'Open Sans';
    color: #080808;
    margin-right: 70px;
    
    
  }

  nav ul li a:hover {
    color: #574848;
  } 

 

 
}