* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

body {
	max-width: 80%;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}

main {
	max-width: 90%;
	margin: auto;
}

img {
	width: 100%;
}

div .produtors {
	display: flex;
}

.produtors div {
	margin-right: 10%;
}

iframe {
	width: 100%;
	height: 500px;
	padding-bottom: 5%;

}

h1 {
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	line-height: 25px;
	color: #000000;
	margin: 15px;
}

p .filme-info {
	text-align: justify;
font-size: 14px;
color: #ce0a0a;
font-weight: bold;
	
}

h2 {
	color: #000000;
	font-size: 16px;
	color: rgba(0, 133, 255, 0.75);
	margin: 16px;
	
}

.trailer {
	margin-top: 5%;
	color: #000000;
	font-size: 18px;
}

@media (max-width: 430px) {
	.card-sinopse {
	 /* height: 0%; */
	 font-size: 28px;
	 text-align: justify;
	}
}