@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* SINOPSE/TRAILER */

main {
	max-width: 90%;
	margin: auto;
}

img {
	width: 100%;
}

div .produtors {
	display: flex;
}

.produtors div {
	margin-right: 10%;
}

iframe {
	width: 100%;
	height: 500px;
	padding-bottom: 5%;

}

h1 {
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	line-height: 25px;
	color: #000000;
	margin: 15px;
}

h2 {
	color: #3586e2;
	font-size: 16px;
	font-weight: bold;
	margin: 16px;
	
}


p {
	text-align: justify;
}

.trailer {
	margin-top: 5%;
	color: #000000;
	font-size: 18px;
}

@media (min-width: 430px) {
	.card-sinopse {
	
	 font-size: 28px;
	 text-align: justify;
	}

}